@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem vindo ao Filmes Web!!!</h1>
    <p style="margin-top:50px">Aqui você pode criar uma lista para ajuda-lo a controlar os filmes que você deseja assistir na Web (Streaming)</p>
    <p>Clique no link <a asp-area="" asp-controller="Filmes" asp-action="Index"><b>Filmes na Web</b></a> e comece a planejar suas sessões de cinema em casa!</p>
    <img style="margin-top:50px" src="images/cinema.png" width="300px" />
</div>

