@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p style="margin-top: 70px">Aqui, na Filmes na Web, privacidade e segurança são prioridades e nos comprometemos com a transparência do
   tratamento de dados pessoais dos nossos usuários/clientes. Por isso, esta presente Política de Privacidade
    estabelece como é feita a coleta, uso e transferência de informações de clientes ou outras pessoas que
    acessam ou usam nosso site.
</p>

<h3 style="margin-top: 70px">Consentimento</h3>

<p>
É a partir do seu consentimento que tratamos os seus dados pessoais. O consentimento é a manifestação livre, informada e inequívoca pela qual você autoriza a (nome empresarial simplificado) a tratar seus dados.
Assim, em consonância com a Lei Geral de Proteção de Dados, seus dados só serão coletados, tratados e armazenados mediante prévio e expresso consentimento.
O seu consentimento será obtido de forma específica para cada finalidade acima descrita, evidenciando o compromisso de transparência e boa-fé da (nome empresarial simplificado) para com seus usuários/clientes, seguindo as regulações legislativas pertinentes.
Ao utilizar os serviços da (nome empresarial simplificado) e fornecer seus dados pessoais, você está ciente e consentindo com as disposições desta Política de Privacidade, além de conhecer seus direitos e como exercê-los.
A qualquer tempo e sem nenhum custo, você poderá revogar seu consentimento.
É importante destacar que a revogação do consentimento para o tratamento dos dados pode implicar a impossibilidade da performance adequada de alguma funcionalidade do site que dependa da operação. Tais consequências serão informadas previamente.
</p>